.m-hero {
  background-color: var(--invert-background);

  .swap & {

  }

  .o-container {
    padding: 0;
  }
}

.m-hero__image {
  margin: 0;

  overflow: hidden;

  img {
    min-height: 150px;
    max-height: 25vw;
    display: block;
    margin: 0 auto;
  }
}

.m-hero__video {
  min-height: 150px;
  max-height: 50vh;
  max-width: 100vw;
  display: block;
  margin: 0 auto;
}
