.m-post {
  margin-bottom: 2em;
}

.m-post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.m-post-list {
  max-width: 50em;
  padding-left: 0;
  margin-bottom: 2em;

  li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 2em;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      bottom: -1em;
      left: 0;
      right: 0;
      height: 1px;
      max-width: 20em;
      background-color: var(--meta);
      opacity: .6;
    }
  }

  .m-post-meta {
    align-self: flex-start;
  }

  h3 {
    margin: 0 1em 0 0;
  }
}

.m-post-meta {
  color: var(--meta);

  &.m-post-meta--small {
    font-size: .85em;
  }
}
