.m-toggle {
  float: right;
  margin: auto;


  @media all and (min-width: 500px){
    position: absolute;
    top: 1em;
    right: 1em;
    height: 40px;
    text-align: center;
    float: none;
  }

  input {
   position: absolute;
   opacity: 0;
  }

  > label {
    line-height: 20px;
    vertical-align: bottom;
    margin-right: .5em;
  }
}

.m-toggle__wrapper {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: var(--swap-background);
  border-radius: 1em;
  transition: all .5s ease;
}

.m-toggle__view {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--default-secondary);
  box-shadow: 0 0 1px 1px var(--swap-background);
  transition: all .5s ease;
}

.m-toggle input:focus {

  + .m-toggle__wrapper {


    > .m-toggle__view {
      background: var(--default-link);
      box-shadow: 0 0 2px 1px var(--swap-background);
    }
  }
}

.m-toggle input:checked {

  + .m-toggle__wrapper {
    background: var(--default-background);
    transition: all .5s ease;

    > .m-toggle__view {
      transform: translate3d(100%, 0, 0);
      background: var(--swap-background);
      box-shadow: 0 0 1px 1px var(--default-link);
      transition: all .5s ease;
    }
  }

  &:focus {

    + .m-toggle__wrapper {

      > .m-toggle__view {
        background: var(--default-link-hover);
      }
    }
  }

}

.m-toggle__info {
  position: relative;
  display: inline-block;
  text-align: left;

  summary {
    cursor: pointer;
  }

  details {

    p {
      border-radius: 5px;
      position: absolute;
      line-height: 1.5em;
      right: 10px;
      top: 10px;
      min-width: 300px;
      background:  var(--swap-background);
      color: var(--swap-text);
      padding: 1em;

      @include get-mode('light'){
        background-color: var(--default-background);
        color: var(--default-text);
        transition: background-color .5s ease;
      }

      .swap & {

        @include get-mode('light'){
          background-color: var(--swap-background);
          color: var(--swap-text);
        }

        @include get-mode('dark'){
          background-color: var(--default-background);
          color: var(--default-text);
        }
      }

    }
  }
}
