.m-toggle {
  display: block;
  text-align: right;
  margin: 1em;

  @media all and (min-width: 500px){
    position: absolute;
    margin: 0;
    top: 1em;
    right: 1em;
    text-align: center;
    float: none;
  }

  input {
   position: absolute;
   opacity: 0;
  }

  > label {
    line-height: 20px;
    vertical-align: bottom;
    margin-right: .5em;
  }
}

.m-toggle__wrapper {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: var(--invert-background);
  border-radius: 1em;
  transition: all .5s ease;

  .swap & {
    background-color: var(--invert-background);

    @include get-mode('light'){
      background-color: var(--background);
    }

    @include get-mode('dark'){
      background-color: var(--invert-background);
    }
  }
}

.m-toggle__view {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--secondary);
  box-shadow: 0 0 1px 1px var(--background);
  transition: all .5s ease;
  display: block;

  .swap & {
    background-color: var(--invert-background);

    @include get-mode('light'){
      background-color: var(--background);
    }

    // @include get-mode('dark'){
    //   background-color: var(--invert-background);
    // }
  }
}

.m-toggle input:focus {

  + .m-toggle__wrapper {


    > .m-toggle__view {
      background: var(--link);
      box-shadow: 0 0 2px 1px var(--background);
    }
  }
}

.m-toggle input:focus {

  + .m-toggle__wrapper {


    > .m-toggle__view {
      background: var(--default-link);
      box-shadow: 0 0 2px 1px var(--light-background);
    }
  }
}

.m-toggle input:checked {

  + .m-toggle__wrapper {
    background: var(--invert-background);
    transition: all .5s ease;

    .swap & {
        background-color: var(--background);
    }

    > .m-toggle__view {
      transform: translate3d(100%, 0, 0);
      background: var(--background);
      box-shadow: 0 0 1px 1px var(--link);
      transition: all .5s ease;
    }
  }

  &:focus {

    + .m-toggle__wrapper {

      > .m-toggle__view {
        background: var(--link-hover);
      }
    }
  }

}

.m-toggle__info {
  position: relative;
  display: inline-block;
  text-align: left;

  summary {
    cursor: pointer;
  }

  details {

    p {
      border-radius: 5px;
      position: absolute;
      line-height: 1.5em;
      right: 10px;
      top: 10px;
      width: 310px;
      max-width: 80vw;
      color: var(--invert-text);
      background: var(--invert-background);
      padding: 1em;
      box-shadow: 0 0 1px 1px var(--background);

      .swap & {
        color: var(--swap-invert-text);
        background: var(--swap-invert-background);
        box-shadow: 0 0 1px 1px var(--invert-background);
      }
    }
  }
}
