<form action="/" method="post" id="contact" data-netlify="true">
  <fieldset>
    <legend>Contact</legend>
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" required />
    </div>
    <div>
      <label for="email">E-mail address</label>
      <input id="email" type="email" required />
    </div>
    <div>
      <label for="message">Message</label>
      <textarea id="message" required ></textarea>
    </div>

    <div>
      <button type="submit">Send</button>
    </div>
  </fieldset>
</form>
