<footer id="footer" class="m-footer o-stack o-stack--before o-stack--primary">

  <div class="o-container">

    <div class="o-flex o-flex--between">

      <div class="o-flex">
        <p> made with ♡ </p>
      </div>

      <div class="o-flex__item">
        <ul class="a-list--reset a-list--inline a-list--separator">
          {% for s in site.social %}
            <li><a href="{{s.url}}" target="_blank" data-title="{{s.name}}">{{s.name}}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>

  </div>

</footer>
