<header class="m-stack o-header">

  <div class="o-container">
    <h2>
      <a href="{{ site.baseurl }}/" class="a-multi">
        {{ site.title }}
        <span aria-hidden="true">{{ site.title }}</span>
        <span aria-hidden="true">{{ site.title }}</span>
        <span aria-hidden="true">{{ site.title }}</span>
      </a>
    </h2>
    <div class="m-toggle">
      <label for="theme">Swap theme</label>
      <input id="theme" type="checkbox">
      <label for="theme" class="m-toggle__wrapper">
        <div class="m-toggle__view"></div>
      </label>
      <div class="m-toggle__info">
        <details>
          <summary>How?</summary>
          <p>
            In browsers like <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> &amp;
            <a href="https://www.apple.com/safari/" target="_blank">Safari</a> this site uses the appearance settings for dark or light mode.
            The toggle can be used to swap from light to dark or the other way around.
          </p>
        </details>
      </div>
    </div>
  </div>

</header>
{% include hero.html %}
