<header class="m-stack o-header">

  <div class="o-container">
    <h2>
      <a href="{{ site.baseurl }}/" class="a-multi">
        {{ site.title }}
        <span aria-hidden="true">{{ site.title }}</span>
        <span aria-hidden="true">{{ site.title }}</span>
        <span aria-hidden="true">{{ site.title }}</span>
      </a>
    </h2>
    {% include menu.html %}
    <div class="m-toggle">
      <label for="theme">Swap the theme</label>
      <input id="theme" name="themeSwap" type="checkbox" />
      <label for="theme" class="m-toggle__wrapper">
        <span class="m-toggle__view"></span>
        <span class="u-screenreader">Visual theme toggle</span>
      </label>
      <div class="m-toggle__info">
        <details>
          <summary>How?</summary>
          <p>
            In browsers like <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel="noopener" data-title="Firefox">Firefox</a> &amp;
            <a href="https://www.apple.com/safari/" target="_blank" rel="noopener" data-title="Safari">Safari</a> this site uses the appearance settings for dark or light mode.
            The toggle can be used to swap from light to dark or the other way around.
            You can check my <a href="https://github.com/RubenJnl/rubenjanssen" data-title="Github project" rel="noopener" target="_blank">Github project</a> on how I've configured this.
          </p>
        </details>
      </div>
    </div>
  </div>

</header>
{% include hero.html %}
