<meta property="og:title" content="{% if page.title %}{% if page.title != 'Home' %}{{ page.title | escape }} - {% endif %}{% endif %}{{ site.title | escape }}{% if page.title == 'Home' %} - {{ site.subtitle }} {% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{site.siteUrl}}{{page.url}}" />
{% if page.ogImg %}
<meta property="og:image" content="{{site.siteUrl}}{{page.ogImg}}" />
{% else if page.heroImg[0].url %}
<meta property="og:image" content="{{site.siteUrl}}/content/{{page.heroImg[0].url}}" />
{% endif %}
{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}" />
{% else %}
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<meta property="og:locale" content="en_GB" />
<meta property="og:site_name" content="{{site.name}}" />
