@import 'variables/normalize';
@import 'variables/root';

// MIXINS
@import 'mixins/all';

//// ATOMS
@import 'atoms/links';
@import 'atoms/lists';
@import 'atoms/image';
@import 'atoms/article';
@import 'atoms/multicolor';

//// MOLECULES
@import 'molecules/hero';
@import 'molecules/post';
@import 'molecules/stacks';
@import 'molecules/toggle';
@import 'molecules/footer';


//// ORGANISMS
@import 'organisms/content';
@import 'organisms/flex';
@import 'organisms/header';

//// UTILITIES
@import 'utilities';

html {
    background-color: var(--swap-background);
    color: var(--swap-text);
    font-family: Helvetica, sans-serif;
    transition: background-color .5s ease;

  @include get-mode('dark') {
    background-color: var(--default-background);
    color: var(--default-text);
    transition: background-color .5s ease;
  }

  &.swap {
    background-color: var(--swap-background);
    color: var(--swap-text);

    @include get-mode('dark') {
      background-color: var(--swap-background);
      color: var(--swap-text);
      transition: background-color .5s ease;
    }
  }

  @include get-mode('light'){
    background-color: var(--swap-background);
    color: var(--swap-text);
    transition: background-color .5s ease;

    &.swap {
      background-color: var(--default-background);
      color: var(--default-text);
    }
  }




}
