// ROOT MIXINS
@import 'mixins/theme';

// VARIABLES
@import 'variables/normalize';
@import 'variables/root';

//// ATOMS
@import 'atoms/links';
@import 'atoms/lists';
@import 'atoms/image';
@import 'atoms/article';
@import 'atoms/multicolor';

//// MOLECULES
@import 'molecules/hero';
@import 'molecules/post';
@import 'molecules/stacks';
@import 'molecules/toggle';
@import 'molecules/footer';

//// ORGANISMS
@import 'organisms/content';
@import 'organisms/flex';
@import 'organisms/header';

//// UTILITIES
@import 'utilities';

html {
  background-color: var(--background);
  color: var(--text);
  font-family: Helvetica, sans-serif;
  transition: background-color .5s ease;
  
  &.swap {

  }
}
