:root {
  --default-background: rgb(235, 235, 235);
  --default-text: rgb(36, 36, 36);
  --default-link: rgb(108, 3, 191);
  --default-link-hover: rgb(125, 0, 170);

  --dark-background: var(--default-text);
  --dark-text: var(--default-background);
  --dark-link: rgb(108, 3, 191);
  --dark-link-hover: rgb(61, 2, 136);
}
