a {
  color: var(--default-link);
  transition: all .3s ease;

  .swap & {
    color: var(--swap-link);
  }
  
  &:hover,
  &:focus,
  &:active {
    color: var(--default-link-hover);
    transition: all .3s ease;

    .swap & {
      color: var(--swap-link-hover);
      transition: all .3s ease;
    }
  }
}
