---
layout: compress
---

<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body>

  <div id="skip-links" class="u-screenreader">
    <ul>
      <li><a href="#main-content">Spring naar inhoud</a></li>
      <li><a href="#site-nav">Spring naar navigatie</a></li>
      <li><a href="#footer">Spring naar contactgegevens</a></li>
    </ul>
  </div>

    {% include header.html %}

    <div id="main-content" class="o-container">
      <div class="o-content">
        {{ content }}
      </div>
    </div>

    <div class="o-container">
      <div class="o-content">
        {%- if page.title == 'Home' -%}
          {%- if site.posts.size > 0 -%}
            <h2 class="post-list-heading">{{ page.list_title | default: "Updates" }}</h2>
            <ul class="post-list">
              {%- for post in site.posts -%}
              <li>
                {%- assign date_format = site.minima.date_format | default: "%-d %B %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endif -%}

        {% if page.title == 'Home' %}
          {% for img in page.images %}
          <figure class="a-image">
              {% if img.url %}
              <img src="/content{{ year }}/{{ img.url }}{{ img.ext }}" class="" alt="{{ img.alt }}" />
              {% endif %}
          </figure>
          {% endfor %}
        {% endif %}
      </div>
    </div>


    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
