---
layout: compress
---

<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body>

  <div id="skip-links" class="u-screenreader">
    <ul>
      <li><a href="#main-content">Jump to content</a></li>
      <!-- <li><a href="#site-nav">Jump to navigation</a></li> -->
      {% if page.layout == 'post' %}
      <li><a href="#posts">Jump to posts list</li>
      {% endif %}
      <li><a href="#footer">Jump to contact</a></li>
    </ul>
  </div>

    {% include header.html %}


    <div id="main-content" class="o-container">
      <div class="o-content">
        {{ content }}
      </div>
    </div>

    {% if page.layout != 'post' %}
      <div class="o-container">
        <div class="o-content">
          {% include postlist.html %}

        </div>
      </div>
    {% endif %}


    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
